<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Lista de tareas con Flask</title>
</head>

<body>

    <br>
    <h1><center>CLIENTE</center></h1>

    <!--Primer controlador, redirige a la pagina principal-->
    <form method="post" action="{{url_for('enviar')}}">
        <div class="form-group">
            <label><b>Ingrese su nombre:</b></label>
            <input type="text" class="form-control" placeholder="" name="nombre">
        </div>
        <div class="form-group">
            <label><b>Registre su teléfono:</b></label>
            <input type="text" class="form-control" placeholder="09 99 999999" name="telefono">
        </div>
        <div class="form-group">
            <label><b>Estado:</b></label>
            <select class="form-control" name="prioridad">
                <option value="1">Normal</option>
                <option value="2">Caso</option>
                <option value="3">Cercano</option>
            </select>
        </div>
        <br>
        <input type="submit" class="btn btn-outline-success">
        <button type="button" class="btn btn-primary">Registrar cuenta en el sistema</button>
        <button type="button" class="btn btn-primary">Iniciar sesión</button>
        <button type="button" class="btn btn-primary">Registarse en una tienda</button>
        <button type="button" class="btn btn-primary">Ver historial de tiendas</button>
        <button type="button" class="btn btn-primary">Ver estado</button>
    </form>
    <br> 
    <!--Primer controlador, redirige a la pagina principal-->
    <form method="post" action="{{url_for('enviar')}}">
        <div class="form-group">
            <label><b>Ingrese su nombre:</b></label>
            <input type="text" class="form-control" placeholder="" name="nombre">
        </div>
        <div class="form-group">
            <label><b>Registre su teléfono:</b></label>
            <input type="text" class="form-control" placeholder="09 99 999999" name="telefono">
        </div>
        <div class="form-group">
            <label><b>Estado:</b></label>
            <select class="form-control" name="prioridad">
                <option value="1">Normal</option>
                <option value="2">Caso</option>
                <option value="3">Cercano</option>
            </select>
        </div>
        <br>
        <input type="submit" class="btn btn-outline-success">
        <button type="button" class="btn btn-primary">Registrar cuenta en el sistema</button>
        <button type="button" class="btn btn-primary">Iniciar sesión</button>
        <button type="button" class="btn btn-primary">Registarse en una tienda</button>
        <button type="button" class="btn btn-primary">Ver historial de tiendas</button>
        <button type="button" class="btn btn-primary">Ver estado</button>
    </form>



    
</body>

</html>